html{
  background-color: black;
  color: gray;
  text-align: center;
  font-family: Arial;
  font-size: 24px;
}

.footer{
  text-align: right;
}

.header{
  color: white;
  font-size: 64px;
  font-weight:bold;
}

.downloadLink{
  color: blue;
  font-size: 18px;
}
